div[class~="list"] {
	background: grey;
}
a[href*="http"] {
	background: purple
}
a:hover {
	color: green;
}
a:active {
	color: orange;
}
a:visited {
	color: red;
}
#about-us p:first-child {
	background: red;
	color: blue;
}
#about-us p:last-child {
	background: black;
}